body,
header,
nav,
ul,
li {
  padding: 0px;
  margin: 0px;
}

hr{
 border-color: black;
}

.header {
  background-color: gray;
}

.menu1 {
  text-align: right;
}
.menu1 li {
  display: inline-block;
}

.menu2 li {
  display: inline-block;
}
.menu2 {
  text-align: center;
}

.menu3 li {
  display: inline-block;
}
.menu3 {
  text-align: start;
  padding-bottom: 30px;
}

.subMenu {
  background-color: aquamarine;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
}

.subMenu li {
  display: inline-block;
}

.subMenu2 {
  background-color: rgb(211, 66, 9);
    padding: 30px 20px;
  display: flex;
  justify-content: space-between;
}

.subMenu2 li {
  display: inline-block;
}


    .voltar button {
  background-color: #09ce10; /* Green */
  border: 2px solid black;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  padding: 5px 35px;
  font-size: 24px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, sans-serif, Arial;
  border-radius: 5px;
}

.voltar button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #118f05; /* Green */
}